@mixin height($height:auto) {
    height: $height;
    width: 100%;
}
@mixin fontMeri($kg:400) {
    font-family: 'Montserrat', sans-serif;
    font-weight: $kg;
}

@mixin fontBar($kg:400) {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: $kg;
}