* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  overflow: hidden; }
  body::-webkit-scrollbar {
    transition: all 0.8s ease-in-out; }
  body::-webkit-scrollbar-track {
    transition: all 0.8s ease-in-out; }
  body::-webkit-scrollbar-thumb {
    background: #5c4e4e; }
  body.unhide {
    overflow-y: scroll !important; }
    body.unhide::-webkit-scrollbar {
      width: 10px; }
    body.unhide::-webkit-scrollbar-track {
      width: 50px;
      background: transparent; }
    body.unhide::-webkit-scrollbar-thumb {
      border-radius: 60px; }

html {
  scroll-behavior: smooth; }

ul, li {
  list-style: none; }

a {
  text-decoration: none;
  display: inline-block; }
  a:focus {
    outline: none; }

button:focus {
  outline: none; }

img {
  width: 100%;
  display: block; }

input:focus, textarea:focus {
  outline: none; }

ul {
  display: block; }

.fullpage {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center; }
  .fullpage .section-1 {
    height: 100vh;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
    transition: transform 1s cubic-bezier(0.55, 0.085, 0, 0.99); }
    .fullpage .section-1.hide {
      transform: translateY(-100%); }
    .fullpage .section-1 .section-content {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      opacity: 0;
      scale: 1.2;
      color: #fff;
      transition: all 1.5s ease-in-out; }
      .fullpage .section-1 .section-content.active {
        opacity: 1;
        scale: 1; }
      .fullpage .section-1 .section-content__intro {
        font-family: 'Barlow Condensed', sans-serif;
        font-weight: 300;
        color: #2F2E2E;
        letter-spacing: 3px; }
  .fullpage .section-2 {
    height: 100vh;
    background-color: #444480;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 4;
    transition: transform 1s cubic-bezier(0.55, 0.085, 0, 0.99); }
    .fullpage .section-2.hide {
      transform: translateY(-100%); }
    .fullpage .section-2 .section-content {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      opacity: 0;
      scale: 1.2;
      color: #fff;
      transition: all 1.5s ease-in-out; }
      .fullpage .section-2 .section-content.active {
        opacity: 1;
        scale: 1; }
      .fullpage .section-2 .section-content h1 {
        font-family: 'Noto Sans JP', sans-serif;
        font-weight: 300;
        border: 1px solid; }
  .fullpage .section-3 {
    height: 150vh;
    background-color: #1f1f57;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
    transition: transform 1s cubic-bezier(0.55, 0.085, 0, 0.99); }
    .fullpage .section-3.hide {
      transform: translateY(-100%); }
    .fullpage .section-3 .section-content {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      opacity: 0;
      scale: 1.2;
      color: #fff;
      transition: all 1.5s ease-in-out; }
      .fullpage .section-3 .section-content.active {
        opacity: 1;
        scale: 1; }
      .fullpage .section-3 .section-content h1 {
        font-family: 'Noto Sans JP', sans-serif;
        font-weight: 300;
        border: 1px solid; }
  .fullpage .section-4 {
    height: 100vh;
    background-color: #7b7beb;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    transition: transform 1s cubic-bezier(0.55, 0.085, 0, 0.99); }
    .fullpage .section-4.hide {
      transform: translateY(-100%); }
    .fullpage .section-4 .section-content {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      opacity: 0;
      scale: 1.2;
      color: #fff;
      transition: all 1.5s ease-in-out; }
      .fullpage .section-4 .section-content.active {
        opacity: 1;
        scale: 1; }
      .fullpage .section-4 .section-content h1 {
        font-family: 'Noto Sans JP', sans-serif;
        font-weight: 300;
        border: 1px solid; }
  .fullpage .section-5 {
    height: 100vh;
    background-color: #323275;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    transition: transform 1s cubic-bezier(0.55, 0.085, 0, 0.99); }
    .fullpage .section-5.hide {
      transform: translateY(-100%); }
    .fullpage .section-5 .section-content {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      opacity: 0;
      scale: 1.2;
      color: #fff;
      transition: all 1.5s ease-in-out; }
      .fullpage .section-5 .section-content.active {
        opacity: 1;
        scale: 1; }
      .fullpage .section-5 .section-content h1 {
        font-family: 'Noto Sans JP', sans-serif;
        font-weight: 300;
        border: 1px solid; }
  .fullpage .dot {
    position: fixed;
    height: 100vh;
    right: 10px;
    bottom: 0;
    top: 0;
    width: 50px;
    background-color: transparent;
    z-index: 6;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .fullpage .dot-section {
      height: 10px;
      width: 10px;
      border-radius: 50%;
      background-color: #fff;
      transition: all .3s ease;
      cursor: pointer; }
      .fullpage .dot-section.color-act {
        background-color: #c32865;
        transform: scale(1.6); }
    .fullpage .dot-section:nth-child(1) {
      margin-bottom: 30px; }
    .fullpage .dot-section:nth-child(2) {
      margin-bottom: 30px; }
    .fullpage .dot-section:nth-child(3) {
      margin-bottom: 30px; }
    .fullpage .dot-section:nth-child(4) {
      margin-bottom: 30px; }

/*# sourceMappingURL=main.css.map */
