* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html, body {
  width: 100%;
  height: 100%; }

body {
  overflow: hidden; }
  body::-webkit-scrollbar {
    transition: all 0.8s ease-in-out; }
  body::-webkit-scrollbar-track {
    transition: all 0.8s ease-in-out; }
  body::-webkit-scrollbar-thumb {
    background: #5c4e4e; }
  body.unhide {
    overflow-y: scroll !important; }
    body.unhide::-webkit-scrollbar {
      width: 10px; }
    body.unhide::-webkit-scrollbar-track {
      width: 50px;
      background: transparent; }
    body.unhide::-webkit-scrollbar-thumb {
      border-radius: 60px; }

html {
  scroll-behavior: smooth; }

a {
  text-decoration: none;
  display: inline-block; }
  a:focus {
    outline: none; }

button:focus {
  outline: none; }

img {
  width: 100%;
  display: block; }

input:focus, textarea:focus {
  outline: none; }

ul {
  display: block; }

.fullpage {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center; }
  .fullpage .section-1 {
    height: 100vh;
    background: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-attachment: fixed;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
    transition: transform 1s cubic-bezier(0.55, 0.085, 0, 0.99);
    width: 100%;
    align-items: center; }
    .fullpage .section-1.hide {
      transform: translateY(-100%); }
    .fullpage .section-1 .section-content {
      height: auto;
      width: 100%;
      opacity: 0;
      scale: 1.2;
      color: #fff;
      transition: all 1.5s ease-in-out;
      display: flex;
      align-items: center; }
      .fullpage .section-1 .section-content.active {
        opacity: 1; }
      .fullpage .section-1 .section-content__image {
        height: 100%;
        margin: auto;
        background: url("/asset/image/laptop_cup_glasses_plant_114948_1920x1080.png");
        background-repeat: no-repeat;
        background-position: center right;
        background-size: cover;
        position: relative;
        z-index: -2; }
        .fullpage .section-1 .section-content__image ::before {
          content: "";
          position: absolute;
          height: 100%;
          width: 100%;
          background: rgba(29, 28, 28, 0.445);
          top: 0;
          left: 0;
          right: 0;
          z-index: -1; }
        .fullpage .section-1 .section-content__image .content__image-intro {
          font-family: 'Poppins', sans-serif;
          font-weight: 200;
          color: #fff;
          font-size: 30px;
          width: 100%;
          padding: 70px 0;
          text-align: center; }
      .fullpage .section-1 .section-content__intro {
        font-family: 'Barlow Condensed', sans-serif;
        font-weight: 300;
        color: #2F2E2E;
        letter-spacing: 3px;
        text-align: center;
        display: block;
        margin-bottom: 20px;
        font-size: 30px;
        width: 100%; }
      .fullpage .section-1 .section-content__info {
        background-color: #2F2E2E;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        flex-direction: column;
        font-family: 'Poppins', sans-serif;
        font-weight: 300;
        font-weight: 400;
        color: #fff; }
        .fullpage .section-1 .section-content__info .content__info-img {
          width: 135px;
          height: 150px;
          border-radius: 100%;
          margin-bottom: 20px;
          margin-top: 30px; }
        .fullpage .section-1 .section-content__info .content__info-name {
          font-size: 20px;
          font-weight: 500;
          margin-bottom: 10px;
          letter-spacing: 3px;
          margin: 0 15px;
          text-align: center; }
        .fullpage .section-1 .section-content__info .content__info-position {
          margin-bottom: 20px;
          font-size: 15px; }
        .fullpage .section-1 .section-content__info .content__info-section {
          font-size: 12px;
          margin-bottom: 10px; }
        .fullpage .section-1 .section-content__info .content__info-info {
          font-size: 15px;
          margin-bottom: 20px;
          text-align: center; }
        .fullpage .section-1 .section-content__info .content__info-icon {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-bottom: 25px; }
          .fullpage .section-1 .section-content__info .content__info-icon i:nth-child(1) {
            margin-right: 20px;
            cursor: pointer; }
          .fullpage .section-1 .section-content__info .content__info-icon i:nth-child(2) {
            margin-right: 20px;
            cursor: pointer; }
          .fullpage .section-1 .section-content__info .content__info-icon i:nth-child(3) {
            cursor: pointer; }
      .fullpage .section-1 .section-content__direction {
        margin-top: 20px;
        color: #2F2E2E;
        text-align: center;
        font-family: 'Barlow Condensed', sans-serif;
        font-weight: 500;
        font-size: 25px; }
  @media screen and (max-width: 991px) {
    .fullpage .section-1 .section-content__image {
      display: none; } }
  @media screen and (max-width: 767px) {
    .fullpage .section-1 .section-content__intro {
      font-size: 30px; } }
  .fullpage .section-2 {
    height: 100vh;
    background: url("/asset/image/7070699_orig.jpg") #2F2E2E repeat-y;
    background-size: auto 50%;
    background-position: bottom right;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 4;
    transition: transform 1s cubic-bezier(0.55, 0.085, 0, 0.99); }
    .fullpage .section-2__intro {
      font-family: 'Barlow Condensed', sans-serif;
      font-weight: 300;
      color: #fff;
      letter-spacing: 3px;
      text-align: left;
      display: block;
      margin-bottom: 30px;
      font-size: 45px;
      position: absolute;
      top: 0;
      left: 30px; }
      .fullpage .section-2__intro:nth-child(1) {
        opacity: 1; }
      .fullpage .section-2__intro:nth-child(2) {
        top: 40px;
        opacity: 0.9; }
      .fullpage .section-2__intro:nth-child(3) {
        top: 80px;
        opacity: 0.8; }
      .fullpage .section-2__intro:nth-child(4) {
        top: 120px;
        opacity: 0.7; }
      .fullpage .section-2__intro:nth-child(5) {
        top: 160px;
        opacity: 0.6; }
      .fullpage .section-2__intro:nth-child(6) {
        top: 200px;
        opacity: 0.5; }
      .fullpage .section-2__intro:nth-child(7) {
        top: 240px;
        opacity: 0.4; }
      .fullpage .section-2__intro:nth-child(8) {
        top: 280px;
        opacity: 0.3; }
      .fullpage .section-2__intro:nth-child(9) {
        top: 320px;
        opacity: 0.2; }
    .fullpage .section-2__img {
      width: 300px;
      height: 300px;
      position: absolute;
      top: 30px;
      right: 30px; }
    .fullpage .section-2.hide {
      transform: translateY(-100%); }
    .fullpage .section-2 .section-content {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0;
      scale: 1.2;
      transition: all 1.5s ease-in-out; }
      .fullpage .section-2 .section-content.active {
        opacity: 1;
        scale: 1; }
      .fullpage .section-2 .section-content__center {
        height: auto;
        background-color: #fff;
        opacity: 1;
        padding: 30px; }
        .fullpage .section-2 .section-content__center .content__center-title {
          font-family: 'Barlow Condensed', sans-serif;
          font-weight: 400;
          color: #2F2E2E;
          font-size: 25px;
          text-transform: uppercase;
          margin-bottom: 30px; }
        .fullpage .section-2 .section-content__center .content__center-story {
          font-family: 'Poppins', sans-serif;
          font-weight: 300;
          font-size: 15px;
          margin-bottom: 30px; }
    @media screen and (max-width: 767px) {
      .fullpage .section-2__intro {
        font-size: 30px; }
      .fullpage .section-2__img {
        display: none; }
      .fullpage .section-2 .section-content__center {
        margin-top: 32px; }
      .fullpage .section-2 .section-content .content__center-story {
        margin-bottom: 15px; } }
  .fullpage .section-3 {
    height: auto;
    background: #2F2E2E;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
    transition: transform 1s cubic-bezier(0.55, 0.085, 0, 0.99); }
    .fullpage .section-3.hide {
      transform: translateY(-100%); }
    .fullpage .section-3 .section-intro {
      color: #fff;
      letter-spacing: 3px;
      font-family: 'Barlow Condensed', sans-serif;
      font-weight: 600;
      text-align: left;
      display: block;
      font-size: 100px;
      position: absolute;
      top: 50%;
      bottom: 50%;
      left: -150px;
      transform: rotate(-90deg);
      text-align: center;
      opacity: 0.5; }
    .fullpage .section-3 .section-content {
      height: 100%;
      width: 100%;
      opacity: 0;
      color: #fff;
      transition: all 1.5s ease-in-out; }
      .fullpage .section-3 .section-content__title {
        font-family: 'Barlow Condensed', sans-serif;
        font-weight: 400;
        font-size: 45px;
        margin-bottom: 50px; }
      .fullpage .section-3 .section-content__first {
        background-image: linear-gradient(0deg, rgba(22, 21, 21, 0.466), rgba(36, 34, 34, 0.466)), url("/asset/image/Untitled-1.png");
        height: auto;
        width: 100%;
        position: relative;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        transition: all 0.3s ease-in-out; }
        .fullpage .section-3 .section-content__first:hover {
          background-size: 150%; }
          .fullpage .section-3 .section-content__first:hover .content__icon-button {
            background-color: #2f2e2e94;
            color: #fff;
            padding: 60px 0; }
        .fullpage .section-3 .section-content__first .content__icon-button {
          padding: 30px;
          display: flex;
          font-size: 20px;
          color: #fff;
          font-family: 'Poppins', sans-serif;
          font-weight: 400;
          align-items: center;
          justify-content: center;
          margin: auto;
          transition: all 0.3s ease-in-out; }
          .fullpage .section-3 .section-content__first .content__icon-button:hover {
            background-color: rgba(255, 255, 255, 0.466);
            border: 6px solid #2F2E2E;
            color: #2F2E2E; }
          .fullpage .section-3 .section-content__first .content__icon-button i {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 10px; }
      .fullpage .section-3 .section-content__second {
        background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.466), rgba(255, 255, 255, 0.466)), url("/asset/image/2.png");
        height: auto;
        width: 100%;
        position: relative;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        transition: all 0.3s ease-in-out; }
        .fullpage .section-3 .section-content__second:hover {
          background-size: 150%; }
          .fullpage .section-3 .section-content__second:hover .content__icon-button {
            background-color: #2f2e2e94;
            color: #fff;
            padding: 60px 0; }
        .fullpage .section-3 .section-content__second .content__icon-button {
          padding: 30px;
          display: flex;
          font-size: 20px;
          color: #2F2E2E;
          font-family: 'Poppins', sans-serif;
          font-weight: 400;
          align-items: center;
          justify-content: center;
          margin: auto;
          transition: all 0.3s ease-in-out; }
          .fullpage .section-3 .section-content__second .content__icon-button:hover {
            background-color: rgba(255, 255, 255, 0.466);
            border: 6px solid #2F2E2E;
            color: #2F2E2E; }
          .fullpage .section-3 .section-content__second .content__icon-button i {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 10px; }
      .fullpage .section-3 .section-content__third {
        background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.466), rgba(255, 255, 255, 0.466)), url("/asset/image/project-mini.png");
        height: auto;
        width: 100%;
        position: relative;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        transition: all 0.3s ease-in-out; }
        .fullpage .section-3 .section-content__third:hover {
          background-size: 150%; }
          .fullpage .section-3 .section-content__third:hover .content__icon-button {
            background-color: #2f2e2e94;
            color: #fff;
            padding: 60px 0; }
        .fullpage .section-3 .section-content__third .content__icon-button {
          padding: 30px;
          display: flex;
          font-size: 20px;
          color: #2F2E2E;
          font-family: 'Poppins', sans-serif;
          font-weight: 400;
          align-items: center;
          justify-content: center;
          margin: auto;
          transition: all 0.3s ease-in-out; }
          .fullpage .section-3 .section-content__third .content__icon-button:hover {
            background-color: rgba(255, 255, 255, 0.466);
            border: 6px solid #2F2E2E;
            color: #2F2E2E; }
          .fullpage .section-3 .section-content__third .content__icon-button i {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 10px; }
      .fullpage .section-3 .section-content__four {
        background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.466), rgba(255, 255, 255, 0.466)), url("/asset/image/Untitled-2.png");
        height: auto;
        width: 100%;
        position: relative;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        transition: all 0.3s ease-in-out; }
        .fullpage .section-3 .section-content__four:hover {
          background-size: 150%; }
          .fullpage .section-3 .section-content__four:hover .content__icon-button {
            background-color: #2f2e2e94;
            color: #fff;
            padding: 60px 0; }
        .fullpage .section-3 .section-content__four .content__icon-button {
          padding: 30px;
          display: flex;
          font-size: 20px;
          color: #2F2E2E;
          font-family: 'Poppins', sans-serif;
          font-weight: 400;
          align-items: center;
          justify-content: center;
          margin: auto;
          transition: all 0.3s ease-in-out; }
          .fullpage .section-3 .section-content__four .content__icon-button:hover {
            background-color: rgba(255, 255, 255, 0.466);
            border: 6px solid #2F2E2E;
            color: #2F2E2E; }
          .fullpage .section-3 .section-content__four .content__icon-button i {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 10px; }
      .fullpage .section-3 .section-content__five {
        background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.466), rgba(255, 255, 255, 0.466)), url("/asset/image/unicode.png");
        height: auto;
        width: 100%;
        position: relative;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        transition: all 0.3s ease-in-out; }
        .fullpage .section-3 .section-content__five:hover {
          background-size: 150%; }
          .fullpage .section-3 .section-content__five:hover .content__icon-button {
            background-color: #2f2e2e94;
            color: #fff;
            padding: 60px 0; }
        .fullpage .section-3 .section-content__five .content__icon-button {
          padding: 30px;
          display: flex;
          font-size: 20px;
          color: #2F2E2E;
          font-family: 'Poppins', sans-serif;
          font-weight: 400;
          align-items: center;
          justify-content: center;
          margin: auto;
          transition: all 0.3s ease-in-out; }
          .fullpage .section-3 .section-content__five .content__icon-button:hover {
            background-color: rgba(255, 255, 255, 0.466);
            border: 6px solid #2F2E2E;
            color: #2F2E2E; }
          .fullpage .section-3 .section-content__five .content__icon-button i {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 10px; }
      .fullpage .section-3 .section-content__six {
        background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.466), rgba(255, 255, 255, 0.466)), url("/asset/image/team.png");
        height: auto;
        width: 100%;
        position: relative;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        transition: all 0.3s ease-in-out; }
        .fullpage .section-3 .section-content__six:hover {
          background-size: 150%; }
          .fullpage .section-3 .section-content__six:hover .content__icon-button {
            background-color: #2f2e2e94;
            color: #fff;
            padding: 60px 0; }
        .fullpage .section-3 .section-content__six .content__icon-button {
          padding: 30px;
          display: flex;
          font-size: 20px;
          color: #2F2E2E;
          font-family: 'Poppins', sans-serif;
          font-weight: 400;
          align-items: center;
          justify-content: center;
          margin: auto;
          transition: all 0.3s ease-in-out; }
          .fullpage .section-3 .section-content__six .content__icon-button:hover {
            background-color: rgba(255, 255, 255, 0.466);
            border: 6px solid #2F2E2E;
            color: #2F2E2E; }
          .fullpage .section-3 .section-content__six .content__icon-button i {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 10px; }
      .fullpage .section-3 .section-content .section-content__title .content__title-name {
        margin-top: 20px;
        font-size: 30px;
        color: #fff; }
      .fullpage .section-3 .section-content.active {
        opacity: 1; }
    @media screen and (max-width: 767px) {
      .fullpage .section-3 .section-intro {
        display: none; } }
  .fullpage .section-4 {
    height: 100vh;
    background: url("/asset/image/resume.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    transition: transform 1s cubic-bezier(0.55, 0.085, 0, 0.99); }
    .fullpage .section-4::before {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      background: rgba(0, 0, 0, 0.4);
      transition: all .5s;
      z-index: -1; }
    .fullpage .section-4.hide {
      transform: translateY(-100%); }
    .fullpage .section-4.bg-act::before {
      opacity: 0.4; }
    .fullpage .section-4 .section-content {
      height: 100%;
      width: 100%;
      opacity: 0;
      scale: 1.2;
      color: #fff;
      transition: all 1.5s ease-in-out; }
      .fullpage .section-4 .section-content .col-control {
        margin-top: 100px; }
        @media screen and (max-width: 991px) {
          .fullpage .section-4 .section-content .col-control {
            margin-top: 0; } }
      .fullpage .section-4 .section-content.active {
        opacity: 1;
        scale: 1; }
      .fullpage .section-4 .section-content__education {
        width: 100%;
        background-color: rgba(228, 220, 220, 0.336);
        padding: 30px;
        transition: all 0.3s ease-in-out;
        margin-bottom: 30px;
        margin-top: 50px; }
        .fullpage .section-4 .section-content__education .content__education-title {
          letter-spacing: 6px;
          color: #2F2E2E;
          font-family: 'Barlow Condensed', sans-serif;
          font-weight: 300;
          font-size: 40px;
          transform: translateY(-110%);
          text-align: center; }
        .fullpage .section-4 .section-content__education .content__education-info {
          color: #2F2E2E;
          font-family: 'Poppins', sans-serif;
          font-weight: 300;
          font-size: 25px;
          margin-top: 15px; }
        .fullpage .section-4 .section-content__education .content__education-list {
          list-style: circle;
          color: #2F2E2E;
          font-family: 'Poppins', sans-serif;
          font-weight: 300;
          font-size: 18px;
          margin-left: 30px; }
        .fullpage .section-4 .section-content__education .content__skill-title {
          letter-spacing: 6px;
          color: #fff;
          font-family: 'Barlow Condensed', sans-serif;
          font-weight: 300;
          font-size: 40px;
          transform: translateY(-110%);
          text-align: center; }
        .fullpage .section-4 .section-content__education .content__skill-info {
          color: #2F2E2E;
          font-family: 'Poppins', sans-serif;
          font-weight: 300;
          font-size: 25px;
          margin-top: 15px; }
        .fullpage .section-4 .section-content__education .content__skill-list {
          list-style: circle;
          color: #2F2E2E;
          font-family: 'Poppins', sans-serif;
          font-weight: 300;
          font-size: 18px;
          margin-left: 30px; }
        .fullpage .section-4 .section-content__education:hover {
          background-color: rgba(77, 73, 73, 0.336);
          color: #fff; }
        .fullpage .section-4 .section-content__education:nth-child(1) {
          margin-bottom: 30px; }
        .fullpage .section-4 .section-content__education:nth-child(2) {
          margin-top: 30px; }
  @media screen and (max-width: 991px) {
    .fullpage .section-4 {
      height: auto; } }
  .fullpage .section-5 {
    height: 100vh;
    background: linear-gradient(0deg, rgba(22, 21, 21, 0.664), rgba(36, 34, 34, 0.466)), url("/asset/image/marija-zaric-Fq3rAqfKy28-unsplash.jpg");
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    transition: transform 1s cubic-bezier(0.55, 0.085, 0, 0.99);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; }
    .fullpage .section-5.hide {
      transform: translateY(-100%); }
    .fullpage .section-5 .section-content {
      height: auto;
      width: 100%;
      opacity: 0;
      color: #fff;
      transition: all 1.5s ease-in-out;
      margin: auto; }
      .fullpage .section-5 .section-content.active {
        opacity: 1; }
      .fullpage .section-5 .section-content .section__title {
        font-family: 'Barlow Condensed', sans-serif;
        font-weight: 400;
        letter-spacing: 6px;
        font-size: 30px; }
      .fullpage .section-5 .section-content .section__cap {
        font-family: 'Poppins', sans-serif;
        font-weight: 300;
        letter-spacing: 3px;
        font-size: 30px; }
      .fullpage .section-5 .section-content .section__info {
        font-family: 'Barlow Condensed', sans-serif;
        font-weight: 400;
        font-size: 25px;
        margin-bottom: 20px; }
      .fullpage .section-5 .section-content .section__contact {
        margin-top: 50px; }
        .fullpage .section-5 .section-content .section__contact-email {
          height: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          font-size: 30px;
          width: 100%;
          margin-bottom: 15px; }
        .fullpage .section-5 .section-content .section__contact-content {
          font-family: 'Barlow Condensed', sans-serif;
          font-weight: 400;
          font-size: 20px;
          text-align: center;
          width: 100%; }
        .fullpage .section-5 .section-content .section__contact-phone {
          height: 50%;
          font-size: 30px;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          width: 100%;
          display: inline-block;
          margin-bottom: 15px; }
        .fullpage .section-5 .section-content .section__contact-info {
          font-family: 'Barlow Condensed', sans-serif;
          font-weight: 400;
          font-size: 20px;
          width: 100%;
          text-align: center; }
      .fullpage .section-5 .section-content .section__copyright {
        margin-top: 50px;
        font-family: 'Poppins', sans-serif;
        font-weight: 200;
        font-size: 12px;
        width: 100%;
        text-align: center; }
  .fullpage .dot {
    position: fixed;
    height: 100vh;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: #fff;
    z-index: 6;
    display: flex;
    width: 100px;
    justify-content: space-between;
    align-items: center;
    flex-direction: column; }
    .fullpage .dot::before {
      content: "";
      width: 1px;
      background-color: #2F2E2E;
      position: absolute;
      top: 0;
      left: 50%;
      right: 50%;
      bottom: 0;
      z-index: 1; }
    .fullpage .dot-center {
      justify-content: center;
      align-items: center;
      flex-direction: column;
      z-index: 2;
      background-color: #fff;
      padding-bottom: 30px; }
      .fullpage .dot-center .dot-section {
        background-color: transparent;
        transition: all .3s ease;
        cursor: pointer;
        font-family: 'Barlow Condensed', sans-serif;
        font-weight: 500;
        font-size: 15px;
        text-align: center;
        color: #2F2E2E; }
        .fullpage .dot-center .dot-section.color-act {
          font-size: 19px;
          color: #ACACAC; }
    .fullpage .dot-icon {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: left;
      padding-bottom: 30px;
      font-size: 20px;
      text-align: left;
      z-index: 2;
      background-color: #fff;
      padding-top: 30px; }
      .fullpage .dot-icon i:nth-child(1) {
        margin-bottom: 20px;
        cursor: pointer;
        color: #2F2E2E; }
        .fullpage .dot-icon i:nth-child(1):hover {
          color: #ACACAC; }
      .fullpage .dot-icon i:nth-child(2) {
        margin-bottom: 20px;
        cursor: pointer;
        color: #2F2E2E; }
        .fullpage .dot-icon i:nth-child(2):hover {
          color: #ACACAC; }
      .fullpage .dot-icon i:nth-child(3) {
        margin-bottom: 10px;
        cursor: pointer;
        color: #2F2E2E; }
        .fullpage .dot-icon i:nth-child(3):hover {
          color: #ACACAC; }
    .fullpage .dot-section:nth-child(1) {
      margin-top: 50px;
      margin-bottom: 10px; }
    .fullpage .dot-section:nth-child(2) {
      margin-bottom: 10px; }
    .fullpage .dot-section:nth-child(3) {
      margin-bottom: 10px; }
    .fullpage .dot-section:nth-child(4) {
      margin-bottom: 10px; }
  @media screen and (max-width: 991px) {
    .fullpage .dot {
      background-color: transparent;
      transition: background 0.3s ease-in-out;
      justify-content: center;
      height: auto; }
      .fullpage .dot::before {
        display: none; }
      .fullpage .dot-icon {
        display: none; }
      .fullpage .dot-center {
        background-color: transparent; }
        .fullpage .dot-center .dot-section {
          color: rgba(33, 34, 34, 0.7); }
          .fullpage .dot-center .dot-section.color-act {
            opacity: 1; }
      .fullpage .dot:hover {
        background-color: #fff; } }

/*# sourceMappingURL=main.css.map */
